---
import Layout from '../layouts/Layout.astro';
import Experiencie from '../components/Experiencie.astro';
import Container from '../components/Container.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.astro';
import Me from "../components/Me.astro";

import BriefCase from "../components/icons/BriefCase.astro"
import CodeIcon from "../components/icons/CodeIcon.astro"
import UserIcon from "../components/icons/UserIcon.astro"
---


<Layout 
title="Portafolio de Luis - Desarrollador y Programador Web."
description="Contrata a Luis para crear o diseñar tu página Web. desarrollador y diseñador web."
>

<main class=" px-10 w-full">
    <Container class="flex flex-col gap-5 mt-40 ">
        <Me />
    </Container>

    <Container id="experience">
            <h2 class="flex gap-x-4 items-center text-2xl font-semibold mb-6 " >
                <BriefCase class="size-7" /> Experiencia</h2>

            <Experiencie /> 
    </Container>


    <Container id="projects">
        <h2 class="flex gap-x-4 items-center text-2xl font-semibold mb-6" >
            <CodeIcon class="size-7 " />Proyectos  </h2>
            <Projects />
    </Container>

    <Container id="about">
        <h2 class="flex gap-x-4 items-center text-2xl font-semibold mb-6" >
            <UserIcon class="size-7" />Sobre mí  </h2>
            <AboutMe />
    </Container>
    <Footer />

</main>
</Layout>

