---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2023",
    title: "Diseñador y Desarrollador web",
    company: "Comunidad franciscana providencia de la santa fe",
    description:
      "Responsable de la creación de diseños para la página web, implementación de diseños utilizando últimas versiones de WordPress y herramientas relacionadas, enfoque en la creación de experiencia de usuario, aplicación de estrategias SEO, diseño responsive, aplicación de medidas de seguridad pertinentes.",
    link: "https://www.colsanfrancisco.edu.co/web/",
  },
  {
    date: "Junio 2022",
    title: "Practicante de sistemas",
    company: "Comunidad franciscana providencia de la santa fe",
    description:
      "Durante mis prácticas profesionales como técnico en redes, desempeñé una variedad de responsabilidades, que incluían desarrollar soluciones informáticas, identificación y solución de fallos en la red de internet, mantenimiento de impresoras, montaje de sistemas de sonido para eventos, documentación de equipos, documentación visual de eventos a través de fotografía, mantenimiento de equipos de cómputo a nivel de software y hardware, actualización de página web desarrollada en WordPress.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>