<header class="flex justify-between items-center py-3 mx-auto w-full xl:w-[1120px] ">
    <img class="rounded-full w-12 h-12 " src="image" alt="photo-Luis">

    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="#top">Inicio</a>
        
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Yo</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>