---
const { href } = Astro.props
---

<a href={href} role="link" 
target="_blank" rel="noopener"
class="inline-flex items-center text-lg font-medium
 text-blue-500/80 dark:text-yellow-200 
 dark:hover:text-blue-300/80 hover:text-blue-800/80">
  <slot />
</a>