---
import SocialPill from "../components/SocialPill.astro"
import LkdInIcon from "../components/icons/LkdInIcon.astro"
import GithubIcon from "../components/icons/GithubIcon.astro"
import MailIcon from "../components/icons/MailIcon.astro"

---

<h1 class=" text-5xl font-bold flex justify-start flex-row items-center">Hey, soy luis</h1>

<p class="text-3xl m-1">
    <strong class=" opacity-65">     +1 año de experiencia. </strong>
      <strong class="text-blue-500/90">Desarrollador y Diseñador web. </strong>
      <strong class="text-green-700/70"> De Barranquilla, Colombia. </strong>
      <strong class=" opacity-65"> Especializado en FrontEnd. </strong>
    </p>
   <nav class="flex flex-wrap gap-2 text-3sm ">
    <SocialPill href="https://linkedin.com/in/luis-narvaez-/">
        <LkdInIcon class="size-6" /> LinkedIn 
    </SocialPill>
    <SocialPill href="https://github.com/luisnarv">
        <GithubIcon class="size-6" /> Github
    </SocialPill>
    <SocialPill href="mailto:luiskendornarvaez@gmail.com">
        <MailIcon class="size-6" /> luiskendornarvaez@gmail.com
    </SocialPill>
   </nav>