---
import '@fontsource/clear-sans/500.css';
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description:string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div class="inset-0 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
			<div class="bg-[radial-gradient(circle_800px_at_100%_200px,#4011be66,#fdfdfd30)]">
				<Header />
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
	color-scheme: light dark;
	}
	html {
		font-family: "Clear sans", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body{
		display: flex;
		flex-direction: column;
	
		justify-content: center;
	min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}

</style>
